/* Empty. Add your own CSS if you like */

#imageContainer {
width: 100%;
}

/** {
  border: 1px solid red !important;
}*/

.list {
  padding: 0px;
}

.buttonSize {
  font-size: 4em;
  margin-left: auto;
  margin-right: auto;
}

.height {
  height: 5em;
  margin-bottom: 2em;
}

.feed {
  margin-top: 25px;
}
